body {
font-family: Arial, ;
margin: 20px;
background: #aa8282;
}

h1 {
text-align:center;
color: #333;
}

.form-container, .filter-container {
background: white;
padding: 15px;
   margin: 20px auto;
 border-radius: 8px;
max-width: 600px;

}

input {
margin: 5px;
 padding: 8px;
width: 150px;
}

button {
margin: 5px;
padding: 8px 12px;
cursor: pointer;
 background: #254b74;
 color: white;
border: none;
border-radius: 5px;
}

.error {
color: rgb(190, 108, 108);
 font-size: 14px;
}

table {
width: 90%;
margin: 20px auto;
border-collapse: collapse;
 background: white;

}

th, td {
padding: 12px;
border: 1px solid #ddd;
text-align: center;
}

th {
background: #5d8bbd;
color: white;
}

.delete-btn {
background: rgb(221, 17, 17);
color: rgb(5, 5, 5);
padding: 5px 8px;
border-radius: 5px;
cursor: pointer;
}


